.leaflet-areaselect-shade {
    position: absolute;
    background: rgba(0,0,0, 0.4);
    z-index: 900;
}

.leaflet-areaselect-handle {
    position: absolute;
    background: #fff;
    border: 1px solid #666;
	border-color:blue;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: move;
    z-index: 900;
}

.map-print-container {
    padding: 5px;
	margin-left: 10px;
	margin-top: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    background: #FFF none repeat scroll 0% 0%;
    z-index:1501;
	color: #007FB1;
	font-family:RobotoBold;
	outline: medium none;
}

.map-print-container:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.zoomInput {
  border: 2px solid #666;
  border-color:blue;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align:center;
}