.leaflet-areaselect-shade {
    position: absolute;
    background: rgba(0,0,0, 0.4);
    z-index: 1500;
}

.leaflet-areaselect-handle {
    position: absolute;
    background: #fff;
    border: 1px solid #666;
    -moz-box-shadow: 1px 1px rgba(0,0,0, 0.2);
    -webkit-box-shadow: 1px 1px rgba(0,0,0, 0.2);
    box-shadow: 1px 1px rgba(0,0,0, 0.2);
    width: 14px;
    height: 14px;
    border-radius: 10px;
    cursor: move;
    z-index: 1500;
}

.map-print-container {
    position: absolute;
    left:70%;
    top:10%;
    padding: 5px;
	margin-left: 10px;
	margin-top: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    background: #FFF none repeat scroll 0% 0%;
    z-index:1501;
	color: #007FB1;
	font-family:RobotoBold;
	outline: medium none;
}

.map-print-container:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.zoomInput {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  display: inline-block;
  width: 25px;
  padding: 3px 3px 5px 8px;
  border: none;
 
  text-overflow: clip;
  background: rgba(249,249,249,1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}