@font-face {
  font-family: "Roboto";
  font-style: normal; 
  src: url("../fonts/RobotoRegular.eot"),url("../fonts/RobotoRegular.woff");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal; 
  src: url("../fonts/RobotoBold.eot"),url("../fonts/RobotoBold.woff");
}

body {
  font: 12px/1.5 "Roboto", Arial, Helvetica, sans-serif;
  font-family: "Roboto", Arial, Helvetica, sans-serif;  
}

.map-toolbar {
	padding: 3px;
	margin-left: 10px;
	margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
	border-radius: 1px;
	background: #FFF none repeat scroll 0% 0%;
	opacity:1;
	z-index:10000;
}

.map-toolbar:hover {
	opacity:1;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.float-map-panel {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  background: #FFF none repeat scroll 0% 0%;
  max-width: 600.5px; 
  outline: medium none;
  height: 100%;
  opacity:1;
  z-index:1000;
}

.float-map-panel.big {
  max-width: 1000.5px;
  z-index:1000;
  height: 100%;
}

.float-map-panel:hover {
	opacity:1;
}

.float-map-panel-wrapper {
	margin:10px;
}

.float-map-panel-header {
	font-size: 16px;
	line-height: 17px;
	color: #01557f;
	font-weight: 500;
	margin: 10px 0;
	padding: 0 !important;
	text-align: center;
}

.float-map-panel-content{
	font: 11.5px "Roboto",sans-serif, helvetica,arial;
}


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.leaflet-popup-content
{
	font: 12px "Roboto",sans-serif, helvetica,arial;
	margin: 0px;
}

.leaflet-popup-content-wrapper
{
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  background: #FFF none repeat scroll 0% 0%;
  outline: medium none;
  border-bottom:none;
  min-width: 500.5px; 
}

.leaflet-popup-scrolled
{
	border-bottom:none;
	border-top:none;
}


 /* CSS3 Transition to fade-in highlight style */
svg.leaflet-zoom-animated > g > path {
    transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
    transition-duration: 0.3s;
}

.mapsidebar.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /*width: 350px;*/
    background-color: white;
	z-index:10000;
	box-shadow:0 -1px 24px rgba(0,0,0,0.4);
}
.sidebars > .mapsidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    font-size: 2em;
    text-align: center;
}
.tabs {
	background: #EFEFEF;
	margin: 0 0 30px;
}
.tabs__caption {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
}
.tabs__caption li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs__caption li:hover,
.vertical .tabs__caption li:hover {
	color: #F70;
	padding: 0 13px;
	
}
.tabs__caption .active {
	color: #007FB1;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
}
.tabs__content {
	display: none;
	
	padding: 0 12px;
}
.tabs__content.active {
	display: block;
}

.tabs.vertical {
	border-left: 160px solid #FFF;
}
.vertical .tabs__caption {
	width: 160px;
	float: left;
	display: inline;
	margin: 0 0 0 -160px;
}
.vertical .tabs__caption li {
	padding: 0 13px;
	margin: 0 0 1px;
	border: 1px solid #E4E4E4;
	border-right: 1px solid #F9F9F9;
	width: 132px;
	height: 25px;
}
.vertical .tabs__caption li:hover {
	width: 131px;
}
.vertical .tabs__caption .active {
	width: 133px;
	color: #444;
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
	border-right: 1px solid #EFEFEF;
	margin-right: -1px;
}
.vertical .tabs__content {
	border-width: 1px;
}

.float-map-panel.big.props ul li:nth-child(odd) {background: #F9F9F9;}
.float-map-panel.big.props ul li:hover {color: #007FB1;}



