@font-face {
  font-family: "Roboto";
  font-style: normal; 
  src: url("../fonts/RobotoRegular.eot"),url("../fonts/RobotoRegular.woff");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal; 
  src: url("../fonts/RobotoBold.eot"),url("../fonts/RobotoBold.woff");
}

body {
  font: 11px;
  font-family: "Roboto",sans-serif, helvetica,arial;
}


/* general typography */
.leaflet-popup-content-wrapper 
{
	font: 12px "Roboto",sans-serif, helvetica,arial;
}
	
.MapExpress.Tools.IdentifyMapCommand 
{

}

.main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    color: white;
    width: 300px;
	background-color:white;
	box-shadow:0 -1px 24px rgba(0,0,0,0.4);
	font-family: "Roboto";
}

.main-sidebar-left {
    left: 0;
    text-align: left;
}

.main-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}

.map-settings-header {
   padding: 1px 1px 1px;
    border-radius: 1px 1px 1px 1px;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
    border-color: #2B669A;
	font-family: "Roboto";
}

.map-settings-content {
	background-color: #fff;
    list-style: outside none none;
    margin: 0;
    padding: 2px 2px 0;
}

.map-settings-content-item {
    -moz-user-select: none;
    background-color: #fff;
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px;
    color: #333;
    cursor: pointer;
    display: list-item;
    margin-bottom: -1px;
    padding: 10px 12px 12px;
    text-decoration: none;
}




