@font-face {
  font-family: "Roboto";
  font-style: normal; 
  src: url("../fonts/RobotoRegular.eot"),url("../fonts/RobotoRegular.woff");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal; 
  src: url("../fonts/RobotoBold.eot"),url("../fonts/RobotoBold.woff");
}

body {
  font: 11px;
  font-family: "Roboto",sans-serif, helvetica,arial;
}


.leaflet-popup-content
{
	font: 12px "Roboto",sans-serif, helvetica,arial;
	margin: 10px 10px;
}

.leaflet-popup-scrolled
{
	border-bottom:none;
	border-top:none;
}

.mapsidebar.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background-color: #F8F8F8;
	z-index:10000;
	box-shadow:0 -1px 24px rgba(0,0,0,0.4);
	font-family: "Roboto";
}
.sidebars > .mapsidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    font-size: 2em;
    text-align: center;
}

