@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf')  format('truetype'),
  url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf')  format('truetype'),
  url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf')  format('truetype'),
  url('../fonts/Roboto-Medium.svg#RobotoBold') format('svg');
  font-style: normal;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.forwhite {
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.props ul li:hover {color: #006FB8;}

.leaflet-container {
	font: 13px Roboto, Arial, Helvetica, sans-serif;
}

.mapexpress-control-wrapper {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 1px;
  background: #FFFFFF;
  opacity:1;
  z-index:20000;
 -webkit-transition: opacity 0.2s linear;
 -moz-transition: opacity 0.2s linear;
 -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  flex-direction: column;
  flex-direction: -webkit-column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
}

.mapexpress-control-wrapper:hover {
	opacity:1;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.mapexpress-control-headerbar {
	background: #006FB8 none repeat scroll 0% 0%;
	min-height:32px;
	display: flex;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
	flex-direction: row;
	flex-direction: -webkit-row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	cursor:move;
}

.mapexpress-control-titlebar {
	cursor:move;
	min-height:32px;
}

.mapexpress-control-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: 500;
	margin: 7px 5px 5px 8px;
	color:white;
}


.mapexpress-control-toolbar {
}


.mapexpress-control-toolbar-btn {
	padding: 0 8px;
	cursor: pointer;
	color:white;
	font-weight: bold;
	font-size: 18px;
}


.mapexpress-control-content {
	padding: 10px;
	flex: 1;
	flex-grow: 1;
}

.mapexpress-control-footerbar {
	background: #F9F9F9 none repeat scroll 0% 0%;
	padding: 4px;
	padding-left: 8px;
	min-height:22px;
	font-size:12px;
	display: block;
	line-height: 20px;
	border-top: 1px solid #BDBDBD;
	color:#757575;
}

.mapexpress-layer-info-control {
  max-width: 600px;
  max-height: 600px;
  padding:0;
  background:#F2F2F2;
}

.mapexpress-layer-info__data {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 0px;
  background: #FFF none repeat scroll 0% 0%;
  outline: medium none;
  opacity:1;
  z-index:2000;
}

.map-toolbar {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	transition: all 0.2s ease-in-out;
	border-radius: 1px;
	background: #FFF none repeat scroll 0% 0%;
	opacity:0.8;
}

.map-toolbar:hover {
	opacity:1;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.map-toolbar-button {
	border-radius:50%;
	border: none;
    background: white;
	width: 34px;
	min-width: 34px;
    height: 34px;
	margin-left:3px;
	margin-right:3px;
	-webkit-box-shadow:  0 1px 1.5px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);
    -moz-box-shadow:  0 1px 1.5px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);
    box-shadow:  0 1px 1.5px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
	vertical-align: middle;
   -webkit-touch-callout: none; 
   -webkit-user-select: none;   
   -khtml-user-select: none;   
   -moz-user-select: none;      
   -ms-user-select: none;       
   user-select: none;         
}

.map-toolbar-button:hover {
  background-color: #4CAF50;
}
.map-toolbar-button img {
	vertical-align: middle;
}

.layer-order-control {
	font-size: 13px;
	margin-top:10px;
	margin-left:12px
}

.layer-order-item-text {
	margin-left:8px;
}

.layer-order-item-text.disabled {
	color:#777;
	font-style:italic;
	margin-left:28px;
}

.sortable-chosen {
	color: #3F51B5;
	font-size:13px;
	background: white;
	border: 1px solid #D4D4D4;
	margin-right:12px;
}

.leaflet-control-zoom
{
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  background: #FFF none repeat scroll 0% 0%;
}

.leaflet-areaselect-shade {
    position: absolute;
    background: rgba(0,0,0, 0.4);
    z-index: 900;
}

.leaflet-areaselect-handle {
    position: absolute;
    background: #fff;
    border: 2px solid #006FB8;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: move;
    z-index: 900;
}

svg.leaflet-zoom-animated > g > path {
    transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
    transition-duration: 0.3s;
}

.mapexpress-sidebar-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    flex-direction: column;
	flex-direction: -webkit-column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	position: absolute;
	z-index:100000;
	width: 400px;
	left: -420px;
	transition: all 0.2s ease-in-out;
	top: 0px;
	bottom: 0px;
	visibility:hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1px;
	background: #F2F2F2 none repeat scroll 0% 0%;
	transition: all 0.3s ease-in-out;
 }
 
.mapexpress-sidebar-wrapper__active{
    width: 400px;
	left: 0px;
	visibility: visible;
}

.mapexpress-sidebar-wrapper__active:hover{
	opacity: 1;
}

.mapexpress-sidebar-header {
    flex: 0 0 auto;
    flex-direction: row;
	flex-direction: -webkit-row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.mapexpress-sidebar-content {
	flex: 1;
	flex-grow: 1;
	overflow:auto;
}

.mapexpress-sidebar-footer {
	background: #F9F9F9 none repeat scroll 0% 0%;
	font-size:12px;
	color:#757575;
}


.tabs__caption {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
}

.tabs__caption li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}

.tabs__caption li:hover
{
	color: #4CAF50;
}

.tabs__caption .active {
	color: #3F51B5;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
	font-weight: 500;
}

.tabs__content {
	display: none;
}

.tabs__content.active {
	display: block;
}

.jstree-default {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.leaflet-pulsing-icon {
    border-radius: 100%;
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.75);
}

.leaflet-pulsing-icon:after {
    content: "";
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 300%;
    width: 300%;
    position: absolute;
    margin: -100% 0 0 -100%;

    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1.1s;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.divider1 {
    border-left:1px solid #BDBDBD; 
    width: 1px;
    height: 78%;
    position: absolute;
}

.mapexpress-legend-img-wrapper {
	border-radius:50%;
	border: none;
  background-color: white;
	width: 34px;
  height: 34px;
	padding-left: 5px;
	padding-top: 5px;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
	transition: all 0.2s ease-in-out;
	margin:8px;
	display:inline-block;
	vertical-align: middle;
	font-weight: 500;
}

.mapexpress-legend-img-wrapper:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.mapexpress-legend-item-wrapper {
	border-bottom: 1px solid #BDBDBD; 
	margin:-10px;
	padding-top:10px;
	padding-right:10px;
	cursor : pointer;
}


@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mapexpress-control-animate {
	0% {opacity: 0;}
	10% {opacity: 0.1;}
	35% {opacity: 0.3;}
	50% {opacity:0.4;}
	65% {opacity:0.6;}
	80% {opacity:0.8;}
	100% {opacity:1;}
}

/* Standard syntax */
@keyframes mapexpress-control-animate {
	0% {opacity: 0;}
	10% {opacity: 0.1;}
	35% {opacity: 0.3;}
	50% {opacity:0.4;}
	65% {opacity:0.6;}
	80% {opacity:0.8;}
	100% {opacity:1;}
}
#mapexpress-slider-plate{
  text-align: center; 
  padding-bottom:8px; 
  border-bottom:1px solid rgba(204,204,204,0.7);
}

#mapexpress-slider-plate a{
  color:black;
  margin-right:8px;
  font-size:13px;
}

#mapexpress-slider-connect{
  height:6px;
  margin:4px;
}

.baseLayersPreviewPalleteMenu{
  padding:0;
  margin:0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width:300px;
}

.mapexpress-baselayer-plate{
  margin-left:2px;
  margin-top:10px;
  text-align: center;
}

.mapexpress-baselayer-header{
  max-width:78px;
  max-height:14px;
  overflow: hidden;
  text-overflow:ellipsis;
  font-size:12px;
}
.mapexpress-baselayer-minimap{
  
}

.mapexpress-baselayer-minimap-img{
  width: 78px;
  height: 78px;
  margin: auto;
  border-radius:1px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  display:block;
  margin: 0 auto;
}

.mapexpress-baselayer-minimap.selected{
  box-shadow:0 4px 4px 1px rgba(0, 0, 0, 0.28), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-color:#4CAF50;
  border-style: solid;
}

.mapexpress-baselayer-minimap{
  transform:scale(0.92);
}

.jstree-anchor {
	font-size:13px;
}


