#mapExpress-searchContainer{
    z-index: 1000;
    width:430px;
    background: #FFF none repeat scroll 0% 0%;
    max-width: 750.5px; 
    outline: medium none;
    float:right;
} 

.mapExpress-searchServices {
    cursor:pointer;
    position: absolute;
    background: #fff;
    margin-left:15px;
    margin-top:18px;
    font-weight: normal;
}
.mapExpress-searchServices:after {
    content: "";
    width: 2px;
    top: 70%;
    right:25px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #5F5B5B transparent;
}

.mapExpress-searchServicesList{
     list-style: none; 
    *list-style: decimal; 
    position: absolute;
    right:-18px;
    top:16px;

}

.mapExpress-searchServicesList .mapExpress-SearchProvider {
    border-bottom: 1px solid lightgrey;
    color: #696969;
    min-width:150px;
    display: block;
    background: white;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
}
.mapExpress-searchServicesList .mapExpress-activeSearchProvider{
    display: block;
    padding: 10px;
    text-decoration: none;
    min-width:150px;
    background: lightgrey;
    color: #696969;
    transition: all 0.2s ease-out;
}


.mapExpress-divider {
    width: 24px;
    border-left: solid 1px lightgrey;
    margin-left: 7px;
}
.mapExpress-searchBox{
    height:34px;
    width: 75%;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    outline: none;
    font-size: 14px;

}
.mapExpress-resultsDiv{
    position: absolute;
    width: 436px;
    top: 47px;
}
.mapExpress-resultList {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.mapExpress-listelement {
    background-color: white;
    height: 35px;
    margin: 0px;
    border-top: 1px solid #e6e6e6;
    overflow: hidden;
}
.mapExpress-listelement:active {
    background-color: lightskyblue;
}

.mapExpress-listelement:hover {
    background-color: lightskyblue;
}
.mapExpress-SearchProvider:active {
    background-color: lightskyblue;
}

.mapExpress-SearchProvider:hover {
    background-color: lightskyblue;
}


.mapExpress-listElementContent {
    margin-left: 10px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
    line-height:38px;
}
.mapExpress-listElementContentImage {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    vertical-align: middle;
}
.mapExpress-listElementContentText {
    font: 12px/1.5;
    margin-left: 10px;
    line-height:38px;
}
.mapExpress-listelementError{
    background-color: white;
    height: 35px;
    margin: 0px;
    border-top: 1px solid #e6e6e6;
    overflow: hidden;
}

.mapExpress-clearButton{
    background:url('../images/clear_multiple.png') no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    outline: none;
    margin-left: 7px;
    vertical-align: middle;
}   
.mapExpress-clearButton:hover{
    background:url('../images/clear_multiple.png') no-repeat -24px 0px;
}   