<script id="GeometryCoordinatesControl" type="text/x-jsrender">
    <div class="mapexpress-geometry-coordinates-controller">
        <div class="mapexpress-geometry-coordinates-controller-header">
            <div class="mapexpress-coordinates-systems">
                <input id='mapexpress-active-coordinates-system' readonly placeholder="Система координат"></input> 
                <i class='mdi mdi-chevron-down  mapexpress-change-active-coordinates-system'></i>
                <div>
                    <input id='mapexpress-avaliable-coordinates-system_autocomplete' placeholder="Поиск..."></input>
                    <ul id='mapexpress-avaliable-coordinates-system'></ul>
                </div>
            </div>
        </div>
        <div class="mapexpress-add-point">
            <i id="add-point-icon" class="mdi mdi-plus"></i>
        </div>
        <div class="mapexpress-add-point-map-show">
            <div>
                <i id="mapexpress-add-point-map-show-as-point" class="mdi mdi-map-marker mapexpress-traveltype-icon"></i>
            </div>
            <div>
                <i id="mapexpress-add-point-map-show-as-linestring" class="mdi mdi-vector-polyline mapexpress-traveltype-icon"></i>
            </div>
            <div>
                <i id="mapexpress-add-point-map-clear-all" class="mdi mdi-close mapexpress-traveltype-icon"></i>
            </div>
        </div>
        <div class="mapexpress-geometry-coordinates-points"></div>
        <div style="height: 1px;"></div>
    </div>
</script>
