<script id="layerInfoTemplateId" type="text/x-jsrender">
                <div class="sidebar-nav navbar-collapse" style="padding-right:1px; padding-left:1px;">
                   <h5 style="text-align: center"> Информация (широта: {{:latlng.lat}}, долгота:{{:latlng.lng}})</h5>
					<ul class="nav" id="layerInfoMenu">
                        {{for identifiedResults}}
						<li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i><b>{{:layer.displayName}}</b><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" style="height: 0px;">
								{{props properties}}
									<li>{{:key}}: {{:prop}}</li>
								{{/props}}
					        </ul>
                        </li>
						{{/for}}
                    </ul>
                </div>
           
</script>

   