<script>
$.views.helpers({
    convertLegendFromDomObjToString: function(element) {
        var tempDiv = document.createElement('div');
        tempDiv.appendChild(element);
        return tempDiv.innerHTML;
    }
});
</script>
<script id="legenableLayers" type="text/x-jsrender">
    <div class="mapexpress-legend">
        {{for legenableLayers}} 
            <div id="{{:id}}-legend" class="mapexpress-legend__items">
                <div>{{:~convertLegendFromDomObjToString(legendItem)}}</div>
                <span class="noselect">{{:displayName}}</span>
            </div>            
        {{/for}}
    </div>
</script>
