<script id="land-thematic-day-control-view" type="text/x-jsrender">
    <div class="mapexpress-legend-items">
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:green"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Отставания нет</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:yellow"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Отставание до 10-ти дней</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:#CD202C"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Отставание свыше 10 дней</span>
        </div>
    </div>
</script>
<script id="land-thematic-base-plan-view" type="text/x-jsrender">
    <div class="mapexpress-legend-items">
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:green"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Отставания по БП нет</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:yellow"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Отставание по БП до 10-ти дней</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:#CD202C"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Отставание по БП свыше 10 дней</span>
        </div>
    </div>
</script>
<script id="land-thematic-status-view" type="text/x-jsrender">
    <div class="mapexpress-legend-items">
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:gray"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Не определено</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:green"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Актуальный</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:blue"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Архивный</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:orange"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Выведен из перечня</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:purple"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Меньше минимального размера</span>
        </div>
    </div>
</script>
<script id="land-thematic-event-kind-view" type="text/x-jsrender">
    <div class="mapexpress-legend-items">
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:#CD202C"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Изъятие</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:yellow"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Предоставление</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:green"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Предоставленные</span>
        </div>
        <div class="mapexpress-legend__items noselect">
            <div>
                <div style="width:100%; height:100%;background:grey"></div>
            </div>
            <span class="mapexpress-legend-label-wrapper noselect">Иные</span>
        </div>
    </div>
</script>
<script id="land-thematic-work-type-view" type="text/x-jsrender">
    <div class="mapexpress-legend-items">
        <div class="float-map-panel-content legend">
            <!-- Цвета берутся из таблицы cl_cwork_type!-->
        </div>
    </div>
</script>
<script id="land-thematic-event-type-view" type="text/x-jsrender">
    <div class="mapexpress-legend-items">
        <div class="float-map-panel-content legend">
            <!-- Цвета генерятся на лету, зависит от количества типов событий, от белого к синему!-->
        </div>
    </div>
</script>
