<script id="land-thematic-day-control-view" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
		<p><b>Дней до завершения</b></p>
	</div>	
	<div class="float-map-panel-wrapper">
		<div class = "float-map-panel-content legend">	
			<i style="background:green"></i>Отставания нет
			<br>
			<i style="background:yellow"></i>До 10-ти дней
			<br>
			<i style="background:red"></i>Свыше 10 дней
			<br>
		</div>	
	</div>
</script>


<script id="land-thematic-base-plan-view" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
		<p><b>Дней до завершения по БП</b></p>
	</div>
	<div class="float-map-panel-wrapper">
		
		<div class = "float-map-panel-content legend">	
			
			
			<i style="background:green"></i>Отставания по нет
			<br>
			<i style="background:yellow"></i>Отставание по до 10-ти дней
			<br>
			<i style="background:red"></i>Отставание по свыше 10 дней
			<br>
		</div>	
	</div>
</script>


<script id="land-thematic-status-view" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
		<p><b>Статус актуальности СУПР</b></p>
	</div>	
	<div class="float-map-panel-wrapper">
		
		<div class = "float-map-panel-content legend">	
			
			<i style="background:gray"></i>Не определено
			<br>
			<i style="background:green"></i>Актуальный
			<br>
			<i style="background:blue"></i>Архивный
			<br>
			<i style="background:orange"></i>Выведен из перечня
			<br>
			<i style="background:purple"></i>Меньше минимального размера
			<br>
		</div>	
	</div>
</script>


<script id="land-thematic-work-type-view" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
		<p><b>Тип кадастровых работ</b></p>
	</div>
	<div class="float-map-panel-wrapper">
		
		<div class = "float-map-panel-content legend">	
			
			
			<!-- Цвета берутся из таблицы cl_cwork_type!-->
			
		</div>	
	</div>
</script>


<script id="land-thematic-event-type-view" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
		<p><b>Минимальный активный Тип мероприятия</b></p>
	</div>
	<div class="float-map-panel-wrapper">
		
		<div class = "float-map-panel-content legend">	
			
			
			<!-- Цвета генерятся на лету, зависит от количества типов событий, от белого к синему!-->
		</div>	
	</div>
</script>


<script id="land-thematic-event-kind-view" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
		<p><b>Наличие меоприятий</b></p>
	</div>
	<div class="float-map-panel-wrapper">
		
		<div class = "float-map-panel-content legend">	
			<i style="background:red"></i>Изъятие
			<br>
			<i style="background:yellow"></i>Предоставление
			<br>
			<i style="background:green"></i>Предоставленные
			<br>
			<i style="background:grey"></i>Иные
			<br>
		</div>	
	</div>
</script>

