<script id="mapSidebarTemplateId" type="text/x-jsrender">
   
			<div style="margin:0px;padding:8px;position: relative;border-bottom: 3px solid red; background: #F9F9F9;">
					<img src="images/vsmrail.png"/ onclick="startPresentation();"><span style="font-size: 14px;font-weight: 600;text-align:center;">Тестовая карта (MapExpress)</span>
			</div>
	
			<div id="mapToc" class="tabs" style="margin-top:10px;display:block;height:100%;overflow:hidden;">
				
				<ul class="tabs__caption">
					<li class="active">Содержание карты</li>
					<li>Управление слоями</li>
				</ul>	
				<div class="tabs__content  active" style="height:100%">
					<div class="float-map-panel big" style="margin:1px;display:block;height:84%;overflow-y:auto;overflow-x:hidden;">
						<div id="treelayercontrol" style="font-size:11.5px;margin-top:12px;margin-left:7px"></div>
					</div>    
				</div>
				<div class="tabs__content" style="height:100%">
					<div class="float-map-panel big" style="margin:1px;display:block;height:84%;overflow-y:auto;overflow-x:hidden;">	
						<div id="layer-order-control" class="layer-order-control"></div>
					</div>		
				</div>					
			
			</div>
<script>

(function($) {
	$(function() {
		$('ul.tabs__caption').on('click', 'li:not(.active)', function() {
			$(this)
				.addClass('active').siblings().removeClass('active')
				.closest('div.tabs').find('div.tabs__content').removeClass('active').eq($(this).index()).addClass('active');
				refreshMapToc();
		});

	});
})(jQuery);

$(function () {
  //MapManager._map.on('moveend', refreshMapToc, this);
})

function refreshMapToc () {
	new MapExpress.Controls.TreeLayerControl(MapManager).renderTree();
	new MapExpress.Controls.LayerOrderControl(MapManager).render();
}

function startPresentation() {
	$("#mapSidebarTemplate").trigger("sidebar:close")
	
	setTimeout(startP.bind(this),500);
	
	function startP (){
		if (!this.vsmPresentation) {
			this.vsmPresentation = VsmPresentation();
		}
		this.vsmPresentation.toogle();
	}
}
</script>

</script>

   