<script id="mapWorkspaceManagerId" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
		<p><b>Настройка рабочего набора карты</b></p>
	</div>	
	<div class="float-map-panel-wrapper">
		<div class = "float-map-panel-content">	
			 <select class="form-control" id="wspName">
					<option wpsid ="{{:MAP_WORKSPACE_ID}}" id ="opt_{{:MAP_WORKSPACE_ID}}">{{:MAP_WORKSPACE_NAME}}</option>
			 </select>
			
			<br>
			
			<textarea class="form-control" style="width:600px;height:500px;" id="wspContent" name="description" placeholder="Описание">{{:MAP_WORKSPACE_BODY}}</textarea>
		</div>	
		
		<div class="modal-footer">
			<button type="button" class="btn btn-primary modal-complete-btn" onclick ="saveWsp();">Сохранить</button>
	        <button type="button" class="btn btn-default modal-close-btn" onclick ="$('#floatMapPanel').hide();">Отмена</button>
	    </div>
	</div>
	
	<script>
		
		function saveWsp () {
			var id = $('#opt_{{:MAP_WORKSPACE_ID}}').attr('wpsid');
			var wspContent = $('#wspContent').val();
			var wpsName = $('#opt_{{:MAP_WORKSPACE_ID}}').val();
			new MapWorkspaceManager().saveWorkspace(id,wpsName,wspContent);
			$('#floatMapPanel').hide();
		};
	</script>
	
</script>

