<script id="popupLayerInfoId" type="text/x-jsrender">
   	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
			<span style="font-family:RobotoBold">Краткая информация по участку</span>
	</div>  
	  
		<div class="float-map-panel big props" style="margin-bottom:2px;max-height:500px;overflow-y:auto;overflow-x:auto;min-width: 500.5px;">
			 <ul class="nav" style="font-size:11.5px;margin:10px;">
				{{props properties}}
					{{if key !=='На карточку' && key !=='style' && key !=='FullAddressId' && key !=='HasMunicipality2' && key !== 'wkb_geometry' && key !== 'geom'  && key !=='XMin' && key !=='XMax' && key !=='YMin' && key !=='YMax' && key !=='X_coord' && key !=='Y_coord' && key !=='SHAPE_Length' && key !=='SHAPE_Area' && key !=='X центра' && key !=='Y центра' && key !=='Экстент - X мин.' && key !=='Экстент - X макс.' && key !=='Экстент - Y мин.' && key !=='Экстент - Y макс.' && key !=='Объект обработан - можно удалять' && key !=='G_AREA' && key !=='Shape_Length' && key !=='Shape_Area' && key !=='SHAPE'}}
					  <li style="line-height: 1.8em; border-bottom: 1px solid #DDD;"><span style="font-family:RobotoBold">{{:key}}:</span>&nbsp&nbsp&nbsp{{:prop}}</li>
					{{/if}}
				{{/props}}
			  </ul>
		</div> 

</script>

   
   