<script id="searchCadastreId" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid red;">
			<p><b>Поиск на карте</b></p>
	</div>
	<div class="float-map-panel-wrapper">
		<div class = "float-map-panel-content">	
			<ul class="nav nav-second-level">
				<li style="width:300px">
					<select class="searchCadastreTool-class" id="searchCadastreTool" style="width:100%">
						<option value="3620194" selected="selected">
							Поиск по кадастровому номеру Росреестр
						</option>
					</select>	
				</li>	
				<div style="line-height: 1.8em; border-bottom: 1px solid #DDD; margin-top:10px;margin-bottom:10px"></div>
				<li style="width:300px">
					<select id="searchAddressTool" style="width:100%">
						<option value="3620894" selected="selected">
							Поиск по адресу
						</option>
					</select>	
				</li>	
			</ul>
		</div>	
   </div>
   
</script>