<script>
$.views.helpers({
	layerTreeMapSidebarAfterRendering: function() {
		if ($('#mapexpress-sidebar-tabSet').hasClass('scroll_tabs_container')) {
			$('#mapexpress-sidebar-tabSet').destroy();
		}
		$('#mapexpress-sidebar-tabSet').scrollTabs();

		$("#mapexpress-sidebar-tabSet li").on('click', function() {
			$("#mapexpress-map-toc").find('div.tabs__content').removeClass('active').eq($(this).index()).addClass('active');
		});
		
		$("#map-sidebar-close-btn").on('click', function() {
			$("#sidebar-mapSidebarTemplateId").remove();
		});
		
		new MapExpress.Controls.TreeLayerControl(MapManager).render();
		new MapExpress.Controls.LayerOrderControl(MapManager).render();
	}
 }
);
</script>

<script id="mapSidebarTemplateId" type="text/x-jsrender">
		
		<div class="mapexpress-sidebar-header" style="margin:0px;padding:8px;position: relative;border-bottom: 3px solid red; background:white;">
			<img src="images/vsmrail.jpg" style="vertical-align: middle;">
			<span style="font-size: 16px;font-weight: 500;vertical-align: middle;">ОАО "Скоростные магистрали"</span>
		</div>
			
		<div id="mapexpress-map-toc" class = "mapexpress-flex mapexpress-flex-direction__column mapexpress-toc-wrapper">
				<ul id = 'mapexpress-sidebar-tabSet' class="tabSet scroll_tabs_theme_light">
					<li class="tab_selected">Содержание карты</li>
					<li>Управление слоями</li>
				</ul>
				<div  class="mapexpress-toc-content">
					<div id="treelayercontrol" class="tabs__content active" style="overflow-y:auto; flex:1;"/>
					<div id="layer-order-control" class="tabs__content" style="flex:1;"/>
				</div>
		</div>
</script>

   