<script id="mskM" type="text/x-jsrender">
	<div style="text-align: center;margin:10px;padding:1px; position: relative;border-bottom: 1px solid #CD202C;">
		<p style="font-family:RobotoBold">Дней до завершения</p>
	</div>	
	<div class="float-map-panel-wrapper">
		<div class = "float-map-panel-content legend">	
			<i style="background:green"></i>Отставания нет
			<br>
			<i style="background:yellow"></i>До 10-ти дней
			<br>
			<i style="background:#CD202C"></i>Свыше 10 дней
			<br>
		</div>	
	</div>
</script>


<script id="vladM" type="text/x-jsrender">

</script>


<script id="nnM" type="text/x-jsrender">

</script>

<script id="chebM" type="text/x-jsrender">

</script>

<script id="kazM" type="text/x-jsrender">

</script>

