<script id="mapSidebarTemplateId" type="text/x-jsrender">
            <div style="margin:0px;padding:10px; position: relative;border-bottom: 3px solid red; background:white;">
					<img src="images/vsmrail.jpg"/><span style="font-size: 14px;font-weight: 500;">"ОАО Скоростные магистрали"</span>
			</div>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="overflow-x:hidden;margin-top:12px; width: 348px;">
			
			<div class="panel panel-default" style="height:100%">
				<div class="panel-heading" role="tab" id="headingOne">
				  <h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					  Collapsible Group Item #1
					</a>
				 </h4>
			   </div>
			   <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				  <div class="panel-body">
					<div id="treelayercontrol" style="font-size:11.5px;margin-top:4px;margin-left:1px;margin-bottom:10px;"></div>
				  </div>
			   </div>
			</div>
			
						
			<div class="panel panel-default" style="height:100%">
				<div class="panel-heading" role="tab" id="headingTwo">
				  <h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					  Collapsible Group Item #1
					</a>
				  </h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
				  <div class="float-map-panel big" style="margin:8px;margin-top:12px;">
					<div id="layer-order-control" style="font-size:12px;margin:8px;"></div>
				  </div>
				</div>
			</div>
  </div>

			

               
</script>

   